@mixin font($fw, $fs, $lh, $ls, $c) 
{   
    font-weight: $fw; 
    font-size: $fs; 
    line-height: $lh; 
    letter-spacing: $ls;
    color: $c; 
}
@mixin list($d, $fd, $fw, $g) {
    display: $d; 
    flex-direction: $fd; 
    flex-wrap: $fw;
    gap: $g;
}

@mixin item($qgap, $g, $qitem ) {
    flex-basis: calc((100% - #{$qgap} * #{$g}) / $qitem);
}

@mixin mobile {
    @media screen and (min-width: 480px) {
      @content; 
    }
}
@mixin tablet {
    @media screen and (min-width: 768px) {
      @content; 
    }
}
 @mixin desktop {
     @media screen and (min-width: 1200px) {
        @content; 
    }
}
@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      @content;
     }
}