:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --btn-hover-bgc: #188ce8;
    --white-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --icon-bg-color: #f5f4fa;
    --logo-black-color: #000000;
    --main-black-color: #000000;
    --icon-gray-color: #afb1b8;
    --footer-bg-color: #2f303a;
    --gap: 30px;
  }

