.features-list {
    display: block;
    @media screen and (min-width: 768px) {
      display: flex;
    flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      gap: 30px;
    }
  }

  .features-item {
    max-width: 100%;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc(50% - 30px);
      margin-right: 30px;
      margin-bottom: 57px;
      }
      &:not(:first-child) { 
        @media screen and (max-width: 480px) {
          margin-top: 30px;
        }
      }
      
   
  }
  .features-thumb {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--icon-bg-color);
  }
  
  .features-hedline {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    @include font(700, 14px, 1.14, 00.03em, var(--title-text-color));
    @include tablet {
    text-align: inherit;
 }
  }
  
  .features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
  }