.features-list {
    display: flex;
    gap: 30px;
  }
  .features-item {
    max-width: 270px;
  }
  .features-thumb {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--icon-bg-color);
  }
  
  .features-hedline {
    margin-bottom: 10px;
    text-transform: uppercase;
    @include font(700, 14px, 1.14, 00.03em, var(--title-text-color));
  }
  
  .features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }