.section-team {
    background-color: var(--secondary-bg-color);
  }

  .team-title {
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
    text-align: center;
   @include font(700, 28px, 1.17, 0.03em, var(--title-text-color));
   @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font(700, 36px, 1.16, 0.03em, var(--title-text-color));
   }
  }
  
  .team-list {
    display: block;
    gap: 30px;
    @media screen and (min-width: 768px) {
      display: flex;
    flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  
  .team-item {
    background-color: var(--white-color);
    text-align: center;
    // margin: 0 auto;
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2)
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4)
    }
  }
  
  .team-border {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-hedline {
    margin-bottom: 10px;
    @include font(500, 16px, 1.18, 0.03em, var(--title-text-color));
  }
  
  .team-text {
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  
    color: var(--primery-text-color);
  }
  
  